body{
    font-family: Times New Roman;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
    text-align: center;
    border: 15px solid #000;
    border-collapse: collapse;
    font-size: .9em;
    background-color: aqua;
    transition-property: border;
    transition-duration: 15s;
    

    
 }


 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
   
 }

 main{
    padding: 1em 2em;
 }




 @media (max-width: 30em){ 
    table{
width: 100%;
    }
    table tr{
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }
    table td[data-titulo]{
        display: flex;
    }
    table td[data-titulo]::before{
        content: attr(data-titulo );
        width: 90px;
    }



 }