<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th style="text-align: center ;">id</th>
            <th style="text-align: center ;">nombre</th>
            <th style="text-align: center ;">apellido</th>
            <th style="text-align: center ;">nickname</th>
            <th style="text-align: center ;">nacimiento</th>
            <th style="text-align: center ;">correo</th>
            <th style="text-align: center ;">redsocial</th>
            <th style="text-align: center ;">videojuegofav</th>
            <th style="text-align: center ;">plataforma_xbox</th>

            </tr>
    </table>
</body>
</html>