{% extends 'social/layout.html' %}
{% load humanize %} 
{% block content %}
{% load static %}

<style>


    .main-head {
        background: cyan;
        color: white;
    }

    .main {
        background: cyan;
        color: black;
        width: 60%;
        margin: 5% auto;
        border-radius: 4px;
        padding-bottom: 20px;
    }
</style>

<article>
    <div class="container-article">
        <img src="https://www.geekmi.news/__export/1616984602510/sites/debate/img/2021/03/28/kokushibo_crop1616984507007.jpg_1339198940.jpg">
        <div>
            <h2 class="username"><a href="#">@kevin</a></h2>
            <i class="clock"></i>
            <time data-time="#">Admin</time>
            <div class="post">bienvenido</div>
        </div>
    </div>
</article>



{% endblock %}