{% extends 'social/feed.html' %}
{% block content %}
{% load static %}

<!-- Profile -->
<div class="profile">
	<img src="https://www.geekmi.news/__export/1616984602510/sites/debate/img/2021/03/28/kokushibo_crop1616984507007.jpg_1339198940.jpg">
	<h2>@kevin</h2>

	
			<button><a class="follow-button" href="#">Follow</a></button>
	
			
	
</div>

<!-- Follow items -->
<div class="follow">
	<div>
		<li><a class="new" href="{% url 'publicacion' %}" style="font-size: 15px;">post</a></li>
		
	</div>
	<div>
		<h5>Followers</h5>s
		

	</div>
	<div>
		<h5>Following</h5>
	
	</div>
</div>


{{ block.super }}
{% endblock %}