<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="estilos1.css">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >iniciar secion</title>
   

</head>
<style>
body{
    background: url(https://images3.alphacoders.com/107/107899.jpg);


}

p{
text-align: center ;
color: yellow;
text-decoration-line: underline;
}

form{

    text-align:center ;
    color: aqua;
    
    
    
}

button{
    color: blueviolet;
    background-color: black;
    border: 5px solid blue ;
    
}
input{
    color: black; 
    background-color: yellow;
    border: 5px solid purple ;
}
h1{
    text-align: center ;
    color: crimson;
}
</style>

<body>
    
    <font size="15" face="Brush Script MT">
        <h1>BIENVENIDOS</h1>
<b><p>INICIAR SESION</p></b>
</font>
<font size="5" face="cambria">
<form method="post">
    {% csrf_token %}
    <hr><label for="usuario">
        Usuario
        <input type="text" name="username">
    </label>
    <hr><label for="pass">
        Contraseña
        <input type="password" name="password">
    </label>

    
    <hr><button type="submit"> Iniciar Sesion</button> 
</form>
</font>

</body>
</html>